{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Storage</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'js/htmx.min.js' %}" defer></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <!-- headers -->
    <div class="block">
        <nav class="navbar is-transparent">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://fly.io/">
                    <img width="50" height="50" src="{% static 'img/flyio-logo.svg'%}">
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="{% url 'storage:fridge_text' %}" class="navbar-item">By Text</a>
                    <a href="{% url 'storage:fridge_image' %}" class="navbar-item">By Image</a>
                    </div>
            </div>
        </nav>
        <nav class="level is-mobile">
            <div class="level-item has-text-centered">
                <a href="{% url 'storage:fridge_text' %}" class="subtitle" style="padding:1rem 1rem;">To Fridge or Not to Fridge</a>
            </div>
        </nav>
    </div>
  {% block content %}{% endblock %}
</body>